*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura';
    color: white;
}

.s1 h1, h3{
    text-align: center;
    padding: 20px;
    letter-spacing: 5px;

}

.navbar-1{
    background-color: #34495e;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 120px;
}

.navbar-1 a{
    text-decoration: none;
    transition: all 1s;
    
}

.navbar-1 a:hover{
    transition: all 1s;
    transform: scale(1.3);
}

.pp{
    border-radius: 50%;
    border: solid 3px rgb(248, 248, 248);
    position: relative;
    left: 46%;
}

.navbar-2{
    background-color: #2C3A47;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 80px;
}

.navbar-2 a{
    text-decoration: none;

}

.navbar-2 a:hover{
    transition: all 1s;
    transform: scale(1.3);
}


/* .s2 h1{
    text-align: center;
    letter-spacing: 5px;
} */


.navbar-3{
    background-color: #3B3B98;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 260px;
}

.navbar-3 a{
    text-decoration: none;

}

.navbar-3 a:hover{
    transition: all 1s;
    transform: scale(1.3);
}

.s3 h1{
    text-align: center;
    letter-spacing: 5px;
}



.navbar-4{
    background-color: #EAB543;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 100px;
}

.navbar-4 a{
    text-decoration: none;

}

.navbar-4 a:hover{
    transition: all 1s;
    transform: scale(1.3);
}


.s4 h1{
    text-align: center;
    letter-spacing: 8px;
    font-size: 30px;
}



.s1{
    background-color: rgb(53, 158, 255);
}


.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left rgb(0, 140, 255), blue);
    }


.s2{
    position: relative;
}


.pictures{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    
}


.pic{
    padding: 20px;
    transition: all 1s;
    animation: 1s;
    opacity: 0;
}

.pic:hover{
    transition: 2s;
    transform: scale(1.3);
    opacity: 1;

}

.logo{
    position: relative;
    left: 38%;
    padding: 10px;
    animation: 1s;
    transition: 1s;
}

.logo:hover{
    transition: 1s;
    transform: scale(1.3) rotate(360deg);
}

form input{
    color: black;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

form input:placeholder-shown{
    text-align: center;
}




.msg{
    text-align: center;
    padding: 50px;
}


.me{
    text-align: center;
}

textarea{
    resize: none;
    color: black;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

textarea:placeholder-shown{
    text-align: center;
}


.subbtn{
    color: black;
    background: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}